html {
	background-color: #fdfdfd;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 62.5%;
	color: #111;
	text-align: center;
}

#main {
	width: 94em;
	border: 1px solid #efefef;
	background-color: #fff;
	text-align: left;
	margin: auto;
	margin-top: 4.4em;
	margin-bottom: 4.4em;
	padding: 0 2em 4.4em 2em;
}

#info_bar > h1 {
	float: left;
}

#info_bar h1 + h1 {
	font-size: 1.6em;
	float: right;
}

h1 {
	font-size: 1.8em;
	line-height: 1.22em;
	margin-top: 1.22em;
	margin-bottom: 1.65em;
}

table {
	clear: both;
	width: 100%;
}

th {
	font-size: 1.4em;
	line-height: 1.57142857em;
	padding-top: 1.07142857em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #efefef;
}

td {
	font-size: 1.4em;
	line-height: 1.57142857em;
	padding-top: 1.07142857em;
	padding-bottom: 0.5em;
	border-bottom: 1px dotted #efefef;
}
